/**
 *
 * {{properCase ComponentName}}
 *
 */

import { Box } from '@chakra-ui/react'

import { styles } from './styles'

interface {{properCase ComponentName}}Props {} 

const {{properCase ComponentName}} = (_props:{{properCase ComponentName}}Props) => { 
  return (
    <Box {...styles.container}>
      <h1>{{properCase ComponentName}}</h1>
    </Box>
  ) 
} 

export default {{properCase ComponentName}}


 