/**
 *
 * {{properCase ComponentName}}
 *
 */

interface {{properCase ComponentName}}Props {} 

const {{properCase ComponentName}} = (_props:{{properCase ComponentName}}Props) => { 
  return (
    <div>
      <h1>{{properCase ComponentName}}</h1>
    </div>
  ) 
} 

export default {{properCase ComponentName}}


 