/**
 *
 * {{properCase ModuleName}}{{properCase ComponentName}}
 *
 */

const {{properCase ModuleName}}{{properCase ComponentName}} = () => { 
  return (
    <div>
      <h1>{{properCase ModuleName}}{{properCase ComponentName}}</h1>
    </div>
  ) 
} 

export default {{properCase ModuleName}}{{properCase ComponentName}}
